body {
    background-color:  lightyellow;
    font-family: Arial, sans-serif;
}


header{
    text-align:center;
    margin-bottom:  35px;
}


.recipe{
    background-color:azure;
    border-radius: 10px;
    padding : 20 px;
     margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}






